################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/LCConsoleApp/bin/Debug/netcoreapp3.0
/LCConsoleApp/obj/Debug/netcoreapp3.0
/LCConsoleApp/.vs/LCConsoleApp
/.vs
/LCConsoleAppTests/bin/Debug/netcoreapp3.0
/LCConsoleAppTests/obj/Debug/netcoreapp3.0
/LCConsoleAppTests/obj/Release/netcoreapp3.0
/LCConsoleApp/bin/Debug/netcoreapp3.1
/LCConsoleApp/obj/Debug/netcoreapp3.1
/LCConsoleApp/obj/Release/netcoreapp3.1
/LCConsoleAppTests/bin
